/*stylesheet*/


body {
  background-color: #202030;
  color: #000;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background: url('../images/sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
	margin: 2em auto;
	max-width: 800px;
	padding: 0 20px;
}

.article {
	background-color: #fff;
	padding: 60px 0 20px 0;
}

.article div { 
background-color: rgba(0,0,0,0.1);
}

.box {
box-sizing: content-box; /* border-box */
width: 300px;
border: solid black 3px;
padding: 10px;
margin: 20px;
}

