/*stylesheet*/

body {
  background-color: #202030;
  color: #000;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  background: url('../images/sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
	margin: 2em auto;
	max-width: 800px;
	padding: 0 20px;
}

.article {
  position: relative;
  width: 100%;
  overflow: hidden;
	background-color: #fff;
	padding: 60px 0 20px 0;
}

.article div { 
background-color: rgba(0,0,0,0.1);
}

.box {
float: right;
width: 230px;
border: solid black 3px;
padding: 10px;
margin: 20px;
}

.masthead {
width: 860px;
border: solid black 3px;
padding: 10px;
margin: 20px;
}


.half, .second-half{
  /* width: 50%; */
  width: calc(50% - 40px);
  padding: 20px;
}

.half {
  float: left;
}

.second-half {
  float: right;
}

.em-size-box {
  width: 2em;
  height: 2em;
  background-color: orange !important;
}


.new-font-size {
  font-size: 64px;
}

.em-size-box {
  width: 2rem;
  height: 2rem;
  background-color: red !important;
}


